.header {
  background-color: #007bff;
  padding: 15px;
  display: flex;
  justify-content: center;
}

button {
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #0056b3;
  color: #fff;
}

button:active {
  background-color: #004494;
}
